body{
     background: #6e3b9a;
}
body *{
    color: white;
}
#top-content{
    text-align:center;
}
#page-title{
    font-size:5em;
    padding-top:2em;
}
#search *{
    background-color: Transparent;
    border: 1px white solid;
    border-radius:5px;
    height:3em;
}
#location{
    width:70%;
}
#bars{
    text-align:center;
    width:70%;
    padding-left: 15%;
}
.bar *{
    float: left;
}
.bar-image{
}
.bar{
    padding-bottom:90px;
}
.bar-name{
}
.bar-button{
    background-color: Transparent;
    border: 1px solid white;
    border-radius:5px;
}