body{
     background: #6e3b9a;
}
body *{
    color: white;
    text-align:center;
}
#regForm input:not([type="submit"]){
    color:black;
}
#regTitle{
    font-size:3.5em;
}
#regBtn{
    color:white;
}